p{
	font-size: 14px;
	color: #3c3c3c;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	color: #636363;
	font-size: 20px;
}
#content, .header, .advantagees{
	max-width: 1024px;
	min-width: 860px;
	font-family: Arial, helvetica;
	margin: 0 auto;
}

/*----------------------------------------header*/
.header{
	padding: 15px 10px 15px 20px;
	overflow: hidden;
}
.logo{
	float: left;
	margin-right: 100px;
}
.header div:not(.leng){
	float: left;
}

.header .phone{
	margin: 20px 40px 0 0;
}
.header .phone p{
	font-size: 18px;
	font-weight: bold;
}
.header .phone p:first-child{
	margin-bottom: 5px;
}
.header .phone p span{
	color: #f1c40f;
	font-size: 20px;
}
.header .location{
	margin-top: 20px;
}
.header .location p{
	font-size: 18px;
}
.header .location .time{
	background: url(../images/watsh.png) no-repeat;
	padding: 5px 0 4px 30px;
	color: #f1c40f;
	font-size: 18px;
	text-transform: uppercase;
}
.header .leng{
	float: right;
}
.header .leng a{
	text-decoration: none;
	color: #474747;
	padding: 5px;
}
.header .leng a.activ{
	background: #f1c40f;
	color: #fff;
}
/*----------------------------------------/header*/

/*----------------------------------------baner*/
.baner img{
	width: 100%;
}
/*----------------------------------------/baner*/

/*----------------------------------------rooms*/
.rooms{
	margin: 30px 70px 30px;
	overflow: hidden;
	text-align: center;
}
.rooms div {
	width: 33%;
	float: left;
	margin-bottom: 30px;
}
.rooms h4{
	margin-bottom: 20px;
	text-transform: uppercase;
}
.rooms a.head{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 9px 0;
	width: 210px;
	margin: 0 auto;
	text-transform: uppercase;
}
.rooms a.head:hover{
	text-decoration: underline;
}
.rooms a.images img{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.rooms a.images img:hover{
	opacity: 0.6;
}
.rooms a.head span{
	display: block;
	font-weight: bold;
	margin-top: 5px;
}
.rooms a.btn{
	display: block;
	width: 210px;
	margin: 0 auto;
	background: #ffb400;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: 10px 0;
	border-radius: 5px;
	margin-top: 10px;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.rooms a.btn:hover{
	background: #fe871e;
}
.rooms .room1 a.head{background: #4fb09b;}
.rooms .room2 a.head{background: #218ae4;}
.rooms .room3 a.head{background: #751596;}
.rooms .room4 a.head{background: #c43092;}
.rooms .room5 a.head{background: #ff5f00;}
.rooms .room6 a.head{background: #c43056;}
/*----------------------------------------/rooms*/

/*----------------------------------------serveses*/
.serveses{
	overflow: hidden;
	text-align: center;
}
.serveses h4{
	margin-bottom: 20px;
	text-transform: uppercase;
}
.serves{
	width: 20%;
	margin-bottom: 30px;
	display: inline-block;
}
.serves p{
	margin-top: 5px;
}
/*----------------------------------------/serveses*/

/*----------------------------------------info*/
.info{
	text-align: center;
	width: 80%;
	margin: 10px auto 5px;
}
.info h1{
	color: #ffb400;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.info p{
	text-align: justify;
	line-height: 1.3;
}
/*----------------------------------------/info*/

/*----------------------------------------advantagees*/
.advantagees-main{
	background: #727272;
	margin-top: 30px;
}
.advantagees{
	overflow: hidden;
	  box-sizing: border-box;
	  padding: 30px 90px 0;
}
.advantagees h3, .advantagees p{
	color: #fff;	
}
.advantage{
	width: 50%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.advantage>div, .advantage h3, .advantage p{
	float: left;
}
.advantage>div{
	margin-right: 10px;
	text-align: center;
	width: 95px;
}
.advantage p{
	width: 70%;
	text-align: justify;
	line-height: 1.2;
}
/*----------------------------------------/advantagees*/

/*----------------------------------------maps*/
.maps>ymaps{
	width: 100% !important;
}
/*----------------------------------------/maps*/
