*{
	font-family: Arial, helvetica;
}
p{
	font-size: 14px;
	color: #3c3c3c;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	color: #636363;
	font-size: 20px;
}
h4{
	text-transform: uppercase;
	margin-bottom: 20px;
}
#content, .header, .advantagees, .footer{
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}
#content{
	background: #fff;
	margin: 30px auto;;
}
/*----------------------------------------header*/
.header{
	padding: 15px 10px 15px 20px;
	overflow: hidden;
}
.logo{
	float: left;
	margin-right: 100px;
}
.header div:not(.leng){
	float: left;
}

.header .phone{
	margin: 20px 40px 0 0;
}
.header .phone p{
	font-size: 18px;
	font-weight: bold;
}
.header .phone p:first-child{
	margin-bottom: 5px;
}
.header .phone p span{
	color: #f1c40f;
	font-size: 20px;
}
.header .location{
	margin-top: 20px;
}
.header .location p{
	font-size: 18px;
}
.header .location .time{
	background: url(../images/watsh.png) no-repeat;
	padding: 5px 0 4px 30px;
	color: #f1c40f;
	font-size: 18px;
	text-transform: uppercase;
}
.header .leng{
	float: right;
}
.header .leng a{
	text-decoration: none;
	color: #474747;
	padding: 5px;
}
.header .leng a.activ{
	background: #f1c40f;
	color: #fff;
}
/*----------------------------------------/header*/

/*----------------------------------------nav*/
.navigation {
	background: #e2e2e2;
}
a#pull{
	display: none;
}
a#pull:after {
  content: "";
  background: url(../images/icon-menu.gif) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 3%;
}
.navigation ul {
	margin: 0 auto 0;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	font-family: Arial, helvetica;
}
.navigation ul li {
	margin-right: 25px;
	display: inline-block;
}
.navigation ul li a{
	color: #3c3c3c;
	text-decoration: none;
	display: block;
	padding: 15px;
	text-transform: uppercase;
}
.navigation ul li a:hover{
	background: #959595;
	color: #fff;
}
.navigation ul li.free{
	padding: 15px 10px;
	background: #FFC500;
	font-weight: bold;
	color: #fff;
	margin-right: 0;
	font-size: 14px;
}
/*----------------------------------------/nav*/

/*----------------------------------------baner*/
.baner img{
	width: 100%;
}
/*----------------------------------------/baner*/

/*----------------------------------------rooms*/
.rooms{
	margin: 0 70px;
	overflow: hidden;
	text-align: center;
}
.rooms div {
	width: 33%;
	float: left;
	margin-bottom: 30px;
}
.rooms a.head{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 9px 0;
	width: 210px;
	margin: 0 auto;
	text-transform: uppercase;
}
.rooms a.head:hover{
	text-decoration: underline;
}
.rooms a.images img{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.rooms a.images img:hover{
	opacity: 0.6;
}
.rooms a.head span{
	display: block;
	font-weight: bold;
	margin-top: 5px;
}
.rooms a.btn{
	display: block;
	width: 210px;
	margin: 0 auto;
	background: #ffb400;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: 10px 0;
	border-radius: 5px;
	margin-top: 10px;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.rooms a.btn:hover{
	background: #fe871e;
}
.rooms .room1 a.head{background: #4fb09b;}
.rooms .room2 a.head{background: #218ae4;}
.rooms .room3 a.head{background: #751596;}
.rooms .room4 a.head{background: #c43092;}
.rooms .room5 a.head{background: #ff5f00;}
.rooms .room6 a.head{background: #c43056;}
/*----------------------------------------/rooms*/

/*----------------------------------------serveses*/
.serveses{
	overflow: hidden;
	text-align: center;
}
.serves{
	width: 20%;
	margin-bottom: 30px;
	display: inline-block;
}
.serves p{
	margin-top: 5px;
	text-transform: uppercase;
}
/*----------------------------------------/serveses*/

/*----------------------------------------info*/
.info{
	text-align: center;
	width: 80%;
	margin: 10px auto 5px;
}
.info h1{
	color: #ffb400;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.info p{
	text-align: justify;
	line-height: 1.3;
}
/*----------------------------------------/info*/

/*----------------------------------------advantagees*/
.advantagees-main{
	background: #727272;
	margin-top: 30px;
}
.advantagees{
	overflow: hidden;
	  box-sizing: border-box;
	  padding: 30px 90px 0;
}
.advantagees h3, .advantagees p{
	color: #fff;	
}
.advantage{
	width: 50%;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
}
.advantage>div, .advantage h3, .advantage p{
	float: left;
}
.advantage>div{
	margin-right: 10px;
	text-align: center;
	width: 25%;
}
.advantage p{
	width: 70%;
	text-align: justify;
	line-height: 1.2;
}
/*----------------------------------------/advantagees*/

/*----------------------------------------maps*/
.maps>ymaps{
	width: 100% !important;
}
.maps h5{
	background: #ffb400;
	color: #fff;
	padding: 10px 0;
}
/*----------------------------------------/maps*/

/*----------------------------------------footer-nav*/
.footer-nav{
	background: #7d7d7d;
	text-align: center;
}
.footer-nav ul{
	margin: 0 auto 0;
	box-sizing: border-box;
	padding: 15px 0;
	overflow: hidden;
}
.footer-nav ul li{
	margin-right: 20px;
	display: inline-block;
}
.footer-nav ul a{
	color: #fff;
	text-decoration: none;
}
.footer-nav ul a:hover{
	text-decoration: underline;
}
/*----------------------------------------/footer-nav*/

/*----------------------------------------footer*/
.footer{
	overflow: hidden;
	padding: 20px 0;
}
.footer>div{
	float: left;
}
.foot-partner{
	width: 40%;
	margin-right: 10%;
}
.foot-partner>div{
	width: 50%;
	float: left;
}
.foot-partner1{
	text-align: center;
}
.foot-partner2 img {
  margin-top: 15px;
}
.foot-social{
	width: 17%;
	margin: 25px 20px 0 0;
}
.foot-social p{
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 5px;
	font-weight: bold;
}
.foot-social img{
	margin-right: 13px;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.foot-social img:hover{
	opacity: 0.5
}
.foot-adres{
	width: 20%;
	margin-top: 25px;
}
.foot-adres p{
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 5px;
	font-weight: bold;
}
.foot-adres a{
	display: block;
	width: 210px;
	margin: 0 auto;
	background: #ffb400;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: 10px 0;
	border-radius: 5px;
	margin-top: 10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	text-align: center;
}
.foot-adres a:hover{
	background: #fe871e;
}
/*----------------------------------------/footer*/

/*----------------------------------------category-galeryes*/
.category-galeryes{
	margin: 30px 70px 30px;
	overflow: hidden;
}
.category-galeryes div{
	float: left;
	width: 30%;
	margin: 0 3% 3% 0;
}
.category-galeryes img{
	width: 100%;
}
.category-galeryes a.btn-galery{
	text-align: center;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 15px 0;
	margin-top: -3px;

}
.category-galery1 a.btn-galery{
	background: #e9b000;
}
.category-galery2 a.btn-galery{
	background: #c53056;
}
.category-galery3 a.btn-galery{
	background: #218ae5;
}
/*----------------------------------------/category-galeryes*/

/*----------------------------------------contact*/
.contact{
	overflow: hidden;
	margin: 0 auto;
	padding: 0 30px;
	max-width: 950px;
}
.contact div p{
	color: #525252;
	width: 330px;
	font-weight: bold;
	font-size: 21px;
	width: 50%;
	float: left;
}
.contact a{
	display: block;
	color: #f1c40f;
	font-weight: bold;
	margin-top: 50px;
	padding: 26px 0 26px 85px;
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.contact a:hover{
	text-decoration: none;
}
.contact a.how_to_come{
	background: url(../images/how_to_come.gif) no-repeat;
	padding: 26px 0 26px 85px;
}
.contact a.what_next{
	background: url(../images/what_next.gif) no-repeat;
}
/*----------------------------------------/contact*/

/*----------------------------------------news*/
.news{
	overflow: hidden;
	padding: 0 30px;
}
.new{
	width: 30%;
	float: left;
	margin: 0 3% 3% 0;
}
.new img{
	width: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.new img:hover{
	opacity: 0.6;
}
.new div{
	background: #f3f3f3;
	padding: 10px;
	margin-top: -3px;
}
.new h5{
	text-align: left;
	font-size: 15px;
	margin-bottom: 5px;
}
.new h5 a{
	text-decoration: none;
	color: #525252;
}
.new h5 a:hover{
	text-decoration: underline;
}
.new p{
	color: #525252;
}
.new p time{
	display: block;
	font-weight: bold;
}
/*----------------------------------------/news*/

/*----------------------------------------about_us*/
.about_us{
	overflow: hidden;
	padding: 0 30px;
}
.about_us>div{
	float: left;
	width: 30%;
	margin: 0 3% 5% 0;
	text-align: center;
}
.about_us>div img{
	border-radius: 50%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.about_us>div img:hover{
	opacity: 0.6;
}
.about_us>div a:not(.btn-about){
	display: block;
	margin-bottom: 15px;
}
.about_us>div a.btn-about{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	width: 80px;
	padding: 8px 25px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.about_us1 a.btn-about{background: #3e8f57;}
.about_us2 a.btn-about{background: #c32828;}
.about_us3 a.btn-about{background: #3a77b5;}
.about_us>div a.btn-about:hover{opacity: 0.6;}

.about_us p{
	text-align: justify;
	font-size: 17px;
	line-height: 1.2;
	clear: both;
}
/*----------------------------------------/about_us*/

/*----------------------------------------partners*/
.partners{
	overflow: hidden;
	padding: 0 15px;
}
.partners div{
	width: 30%;
	margin-right: 3%;
	float: left;
	line-height: 140px;
}
.partners div img{
	width: 100%;
	display: inline-block;
	line-height: 1.2;
	vertical-align: middle;
}
/*----------------------------------------/partners*/

/*----------------------------------------reviews*/
.reviews{
	overflow: hidden;
}
.reviews>div{
	width: 45%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ececec;
	margin: 0 5% 5% 0;
}
.reviews .recall-left{
	float: left;
	width: 40%;
	text-align: center;
}
.reviews .recall-left img{
	border-radius: 50%;
	margin-bottom: 5px;
	
}
.reviews .recall-right{
	float: left;
	width: 57%;
	margin-left: 3%;
}
.reviews .recall-right h5{
	color: #479362;
	text-align: left;
	font-size: 16px;
	margin-bottom: 10px;
}
/*----------------------------------------/reviews*/






/*----------------------------------------МОБИЛЬНАЯ ВЕРСТКА--------------------------*/
@media only screen and (max-width:1055px){
	.navigation ul li{
		margin-right: 10px;
	}
}
@media only screen and (max-width:966px){
	.header .leng{
		float: none;
		position: absolute;
		right: 80px;
		top: 10px;
	}
	.navigation ul li {
		margin-right: 45px;
	}
	.navigation ul li{
		margin-right: 7px;
	}
	.navigation ul li a{

	}
	.foot-social img{
		margin-right: 9px;
	}
	.foot-social p{
		font-size: 13px;
	}
	.foot-partner{
		display: none;
	}
	.foot-social{
		width: 45%;
		text-align: right;
		margin-right: 0;
	}
	.footer .foot-adres{
		width: 45%;
		float: right;
	}
	.foot-adres a{
		margin: 0;

	}
}
@media only screen and (max-width:892px){
	.logo{
		margin-right: 7px;
	}
	.header .phone{
		margin-right: 10px;
	}
	.header .phone p{
		font-size: 17px;
	}
	.header .phone p span{
		font-style: 18px;
	}
	.advantage>div{
		width: 20%;
	}
	.advantage>div img{
		width: 100%;
	}
	.advantagees h3{
		font-size: 17px;
	}

}
@media only screen and (max-width:801px){
	.navigation ul li a{
		padding: 15px 10px;
	}
	.rooms div{
		width: 50%;
		margin-bottom: 54px;
	}
	.serves{
		width: 25%;
	}
	.header .location{
		display: none;
	}
	.header .leng{
		right: 60px;
		top: 30px;
	}
	.logo{
		width: 40%;
		margin-right: 10%;
	}
	.logo img{
		width: 100%;
	}
	.header .phone{
		margin: 0;
	}
	.about_us>div{
		width: 45%;
		margin: 0 5% 5% 0;
	}
	.category-galeryes div{
		width: 45%;
		margin: 0 5% 5% 0;
	}
	.new{
		width: 45%;
		margin: 0 5% 5% 0;
	}
	.contact div{
		width: 100%;
		float: none;
	}
	.contact div p{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

}
@media only screen and (max-width:752px){
	.advantage{
		float: none;
		width: 100%;
	}
	.advantage>div img{
		width: 100%;
	}
	.advantagees h3{
		font-size: 17px;
	}
	.navigation ul li a{
		font-size: 14px;
	}
	.advantage>div{
		width: 15%;
	}
	.footer-nav{
		display: none;
	}
	.navigation ul li a{
		font-size: 12px;
	}
	.navigation ul li.free{
		font-size: 12px;
		padding: 15px 10px;
		padding: 15px 5px;	
	}

}
@media only screen and (max-width:663px){
	.navigation ul li a{
		font-size: 12px;
	}
	.header .phone{
		margin-top: 0;
	}
	.navigation ul li.free{
		font-size: 12px;
		padding: 15px 5px;	
	}
}
@media only screen and (max-width:605px){
	.navigation ul li a{
		font-size: 11px;
	}
	.category-galeryes div{
		float: none;
		width: 100%;
		margin: 0 0 10% 0;
	}
	.new{
		float: none;
		width: 100%;
		margin: 0 0 10% 0;
	}
	.navigation ul li.free{
	  	width: 90px;
  		padding: 5px 5px;
	}
	.partners div{
		width: 45%;
		margin-right: 5%;	
	}
}
@media only screen and (max-width:581px){
	.header .leng{
		display: none;
	}
	.logo{
		width: 100%;
		text-align: center;
		margin-right: 0;
		position: relative;
  		z-index: 1;
	}
	.logo img{
		width: 65%;
	}
	.header .phone {
		display: none;
	}
	.navigation ul{
		display: none;
	}
	a#pull {
		display: block;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		text-decoration: none;
		padding: 10px 3%;
		width: 94%;
		position: relative;
	}
	.navigation ul li{
		width: 100%;	
		display: block;
	}
	.navigation ul li.free{
		width: 100%;
	}
	.rooms div{
		float: none;
		width: 100%;
	}
	.serves{
		width: 33%;
	}
	.about_us>div{
		float: none;
		width: 100%;
		margin: 0 0 10% 0;
	}
	.rooms{
		margin: 0;
	}
	.advantagees{
		padding: 30px 40px 0px;
	}
	.advantage>div{
		display: none;
	}
	.advantage p{
		width: 100%;
	}
	.footer>div{
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer .foot-adres{
		float: none;
		text-align: center;
		width: 100%;
	}
	.foot-adres a{
		margin: 0 auto;
	}
	.contact a{
		width: 240px;
		float: none;
		margin: 50px auto 0;
	}
	.partners div{
		width: 100%;
		float: none;
	}
}
}